:root{
    font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.bg-color-gray{
    background-color: #F5F5F5;
}

.color-orange{
    color: #EB4D38;
}

.color-yellow{
    color: #EEAA27;
}

ul{
    list-style: none;
}
.footer{
    display: flex;
    align-items: center;
}